@media only screen and (max-device-width: 650px)  {

  body{
    padding: 0 15px !important;
  }
  
  .tea-section {
    width: auto !important;
  }
  .p-header{
    width: auto !important;
  }
  .c-fullscreen-loading .el-loading-spinner{
    width: 150px !important;
    margin-top: 40vh !important;
  
    .el-loading-text{
      display: none !important;
    }
    .el-icon-loading{
      font-size: 3.5rem !important;
    }
  }

  
  .tea-page{
    overflow: hidden !important;
    h4{
      font-size: 1.8rem !important;
      word-break: break-all !important;
    }
    &>* {
      font-size: 1.2rem;
    }

  }


  .tea-modal{
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;


    .tea-modal-card{
      padding: 0 !important;

      .x-item{
        &>b{
          width: 150px !important;
        }
      }
    }

    .el-form-item__content > .el-input{
      width: 100% !important;
    }
  
  }

  .el-drawer__header{
    padding: 20px 20px 0 !important;
    margin-bottom: 0 !important;
  }

  .el-menu-item{
    border-bottom: 1px dashed #ddd !important;
  }
  .el-menu-item, .el-submenu__title{
    font-size: 20px !important;
  }

  .dialog-footer{
    button{
      font-size: 16px !important;
    }
  }


  .tea-card{
    width: auto !important;
    border: none !important;
    padding: 0 !important;

    .x-list{
      margin: 0 !important;

      .x-item{
        padding: 15px 0 !important;
      }
    }
  }

  .el-message-box {
    width: 100vw !important;
    position: absolute;
    top: 20vh;
    left: 0;
  }

  .el-form{
    .el-form-item{
      &>label{
        width: 100% !important;
        text-align: left !important;
        line-height: 24px !important;
      }
      &>.el-form-item__content{
        margin-left: 0 !important;
      }

      .el-tooltip{
        display: none !important;
      }
    }
  }

  .jsoneditor{
    border-color: #35a696 !important;
    .jsoneditor-menu{
      display: none !important;
    }
    .jsoneditor-text{
      padding: 10px 5px !important;
      min-height: 320px !important;
    }
  }

}